Type: UnityEngine.Animations.Rigging.ConstraintsUtils/<>c__DisplayClass2_0

Method: System.Void .ctor()

Disassembly:
	0x036FAE30 MOV X0, X19
	0x036FAE34 MOV X2, X31

ISIL:
	001 Move X1, X31
	002 Call Object..ctor, X0
	003 Return 

Method: System.Void <ExtractSteps>b__0(System.Single length)

Disassembly:
	0x036FAE38 BL 0x330E100
	0x036FAE3C ADRP X0, 0xA46000
	0x036FAE40 LDR X0, [X0 + 0xD68]
	0x036FAE44 BL 0x1C16D08

ISIL:
	001 Move V1, [X0+16]
	002 Add S0, S1, S0
	003 Move [X0+16], S0
	004 Return 

